{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<!-- risk-warning area -->

<section class="policy-area section_padding_md">
    <div class="container text-justify">
        <h2 class="content_title">
            AML KYC Policy
        </h2>
        <h3>
            1. Introduction
        </h3>
        <p>This AML KYC (Anti-Money Laundering and Know Your Customer) policy applies to all MorfinFx officers,
            employees, appointed producers, and the products and services offered by MorfinFx. We are committed to
            combating money laundering and maintaining strict KYC procedures.</p>

        <h3>
            2. Responsibility and Cooperation
        </h3>
        <p>All business units and locations within MorfinFx are committed to a collective effort against money
            laundering. Cooperation and adherence to this policy are expected from all staff members.</p>
        <h3>
            3. Risk-Based Procedures</h3>
        <p>Each business unit and location within MorfinFx has implemented risk-based procedures designed to prevent,
            detect, and report suspicious transactions. These procedures aim to ensure compliance with AML regulations
            and safeguard the integrity of our financial system.</p>


        <h3>4. Documentation and Record Keeping</h4>
        <p>Efforts made to prevent money laundering, including transaction records, reports, and related documents,
            will be well-documented and retained. Comprehensive record-keeping is vital for regulatory compliance
            and internal auditing.</p>
        <p>Terrorist financing may not involve the proceeds of criminal conduct, but rather an attempt to conceal
            the
            origin or intended use of the funds, which will later be used for criminal purposes.</p>
        <h3>5. AML Compliance Committee</h4>
        <p>MorfinFx has established an AML Compliance Committee responsible for overseeing the implementation of
            this policy. The committee is authorized to initiate Suspicious Activity Reports (SARs) or any other
            required reporting to relevant law enforcement or regulatory agencies when suspicious activities are
            identified.</p>
        <h3>6. Reporting and Contact with Authorities</h3>
        <p>In case of contact by law enforcement or regulatory agencies concerning this AML KYC Policy, all
            communication shall be directed to the AML Compliance Committee. We will fully cooperate with these
            agencies to support investigations and prevent money laundering activities.</p>
        <h3>7. Policy Review and Updates</h4>
        <p>This policy will undergo periodic reviews to ensure its effectiveness and compliance with
            changing regulations. Necessary updates will be made to address new challenges and maintain a
            robust AML KYC framework.</p>
        <h3>8. Money Laundering and Terrorist Financing</h4>
        <p>This section defines money laundering and provides an understanding of the processes
            involved, including placement, layering, and integration. It also discusses the concept of
            Counter-Terrorist Financing (CTF) and its risks.</p>
        <h3>9. Risk-Based Approach</h4>
        <p>To conduct due diligence regarding AML procedures, MorfinFx takes a risk-based approach.
            This involves allocating resources in proportion to the level of risk associated with a
            particular relationship, product, or country.</p>
        <h3>10. Customer Identification Program</h3>
        <p>MorfinFx has implemented a Customer Identification Program (CIP) to collect and verify
            customer identification information. Notice to customers regarding the requirement for
            identification information will be provided, and such information will be recorded.</p>
        <h3>11. Monitoring and Reporting</h3>
        <p>This section outlines the transaction-based monitoring process, detailing what
            transactions are monitored and reported. It mentions the identification of suspicious
            activity and reporting to the AML Compliance Committee.</p>
         <h3>12. Suspicious Activity and Red Flags</h3>
        <p>Recognizing suspicious activities and red flags is crucial in preventing money
            laundering. This section lists examples of red flags and explains what steps should be
            taken when red flags are detected.</p>
        <h3>Reporting a Suspicion</h3>
        <p>This section details the reporting process when there's suspicion of money laundering or
            fraudulent activity, emphasizing the need for immediate written reporting.</p>
        <h3>14. Investigation</h3>
        <p>Upon receiving a report, the AML Compliance Committee will initiate an investigation. The
            scope of the investigation, including data sources and methods, is discussed here.</p>
       <h3>15. Freezing of Accounts</h3>
        <p>When funds are believed to be linked to criminal activity or fraudulent instructions,
            this section outlines the process for freezing accounts, ensuring compliance with
            regulatory requirements.
        </p>

    </div>
</section>
<!-- risk-warning area end-->
{% endblock content %}