{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<section class="policy-area section_padding_md">
    <div class="container text-justify">
        <h1>Privacy Policy</h1>
        <p><span>We at Morfin FX value your privacy and are committed to protecting your personal information. This policy outlines our practices regarding the collection, use, and disclosure of your personal information.</span></p>
        <p><span><strong>Information We Collect</strong></span></p>
        <p><span>We may collect the following personal information from you when you use our services:</span></p>
        <p>&ndash; <span>Name, address, email address, and phone number.</span></p>
        <p>&ndash; <span>Financial information such as bank account details, credit card information, and trading history.</span></p>
        <p>&ndash; <span>Information about your trading preferences and behaviour.</span></p>
        <p>&ndash; <span>Device and browser information, including IP address, operating system, and browser type.</span></p>
        <p><span><strong>How We Use Your Information</strong></span></p>
        <p><span>We may use your personal information for the following purposes:</span></p>
        <p>&ndash; <span>To provide and improve our services.</span></p>
        <p>&ndash; <span>To process your transactions and manage your account.</span></p>
        <p>&ndash; <span>To communicate with you about our services and promotions.</span></p>
        <p>&ndash; <span>To comply with legal and regulatory requirements.</span></p>
        <p>&ndash; <span>To detect and prevent fraud, security breaches, and other illegal activities.</span></p>
        <p>&ndash; <span>To conduct research and analyze trends.</span></p>
        <p><span><strong>Information Sharing</strong></span></p>
        <p><span>We may share your personal information with third parties in the following circumstances:</span></p>
        <p>&ndash; <span>With our service providers who help us provide our services.</span></p>
        <p>&ndash; <span>With our affiliates for marketing purposes.</span></p>
        <p>&ndash; <span>With government authorities or law enforcement agencies as required by law.</span></p>
        <p>&ndash; <span>In connection with a corporate transaction, such as a merger or acquisition.</span></p>
        <p>&ndash; <span>With your consent.</span></p>
        <p><span><strong>Security</strong></span></p>
        <p><span>We take reasonable measures to protect your personal information from unauthorized access, disclosure, or destruction. However, no security measures are foolproof, and we cannot guarantee the security of your information.</span></p>
        <p><span><strong>Data Retention</strong></span></p>
        <p><span>We retain user data for a specified period, which may vary depending on legal requirements and business needs.</span></p>
        <p><span><strong>User Rights</strong></span></p>
        <p><span>You have the right to access, rectify, or delete your personal information. Please contact us for assistance with these requests.</span></p>
        <p><span><strong>Cross-Border Data Transfers</strong></span></p>
        <p><span>If you're using our services internationally, note that data may be transferred across borders to comply with data protection regulations like GDPR.</span></p>
        <p><span><strong>Children's Privacy</strong></span></p>
        <p><span>Our services are not intended for users under the age of 18.</span></p>
        <p><span><strong>Explicit Consent</strong></span></p>
        <p><span>We emphasize the importance of obtaining explicit consent from users for data processing activities, particularly for marketing communications.</span></p>
        <p><span><strong>Information Accuracy</strong></span></p>
        <p><span>Users are responsible for providing accurate information and updating it as necessary.</span></p>
        <p><span><strong>Cookies and Tracking Technologies</strong></span></p>
        <p><span>We use cookies and other tracking technologies to collect information about your use of our website and services. You can disable cookies in your browser settings, but this may affect your ability to use our services.</span></p>
        <p><span><strong>Changes to this Policy</strong></span></p>
        <p><span>We may update this policy from time to time. We will notify you of any changes by posting the updated policy on our website.</span></p>
        <p><span><strong>Contact Us</strong></span></p>
        <p><span>If you have any questions or concerns about this policy or our practices, please contact us at </span><span><strong>support@morfinfx.com</strong></span></p>
        <p><span>By using our services, you consent to the collection, use, and disclosure of your personal information as outlined in this policy.</span></p>
    </div>
</section>
{% endblock content %}
