{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<section class="learn-area section-py-15-120">
    <div class="container">
        <div class="breadcrumb">
            <a href="/">Home / </a>
            <span class="text-green">Regulations</span>
        </div>

        {% comment %}
        <div class="banner-head mb-40">
            <div class="head">Regulated & Registered Countries</div>
            <p>Trusted Global Compliance</p>
        </div>

        <div class="team_container">
            <img src="{% static 'assets/img/assets/main/regulated_contries.svg' %}?v=1.0" alt="">
        </div>
        {% endcomment %}

    </div>
</section>

{% endblock %}
