{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<!-- policy area -->

<section class="policy-area section_padding_md">
    <div class="container text-justify">
        <h2 class="content_title">Withdrawal & Refund Policy</h2>
        <p>
            Welcome to Morfin FX, a leading name in the world of Forex trading. We value your trust and commitment to
            our platform (<a href="https://morfinfx.com">morfinfx.com</a>). This Withdrawal and Refund Policy outlines
            the terms and conditions governing the withdrawal and refund processes for your convenience and clarity. By
            using our services, you agree to adhere to this policy. Please read this document carefully.
        </p>

        <h3>1.Eligibility</h3>
        <p>To request a withdrawal from your Morfin FX account, you must meet the following conditions:</p>
        <ul>
            <li>You must be a verified user on our platform.</li>
            <li>All required Know Your Customer (KYC) and Anti-Money Laundering (AML) documentation must be submitted
                and approved.</li>
            <li>There should be no ongoing trading activities or open positions in your account.</li>
            <li>You must have a sufficient account balance to cover the withdrawal amount and any applicable fees.</li>
        </ul>

        <h3>2 . Submission Process
        </h3>
        <ul>
            <li>Withdrawal requests should be made through our secure online portal (client portal available on our
                website <a href="https://morfinfx.com">morfinfx.com</a> ) or through email from the Client’s email
                registered or verified by the company ‘Morfin Fx’ or by contacting our customer support team.</li>
            <li>If the client trader or partner decides to submit the refund request through email, he shall send an
                email to the
                following Company’s email: <a href="mailto:accounts@morfinfx.com">accounts@morfinfx.com</a>.</li>
            <li>The request should include the Name of the beneficiary of the account holder, the withdrawal amount, the
                destination account details (method of withdrawal, including full bank account details or credit card
                details), and any necessary documentation requested by Morfin FX.</li>
            <li>Note*- Company ‘Morfin Fx’ will only execute a refund request to the same source (beneficiary account)
                the company received the deposits from.</li>
            <li>All withdrawal requests are subject to internal verification and approval.</li>
        </ul>

        <h3>3 . Processing Timeframe
        </h3>
        <ul>
            <li>Morfin FX processes withdrawal requests promptly, aiming to complete the transaction within 5 (five)
                business working days.</li>
            <li>Delays may occur due to external factors, such as payment service provider processing times or holidays.
            </li>
        </ul>
        <p>Initial Deposits Processed By Debit/Credit Card</p>
        <ul>
            <li>If the client (you/he/she) deposited using a debit or credit card on the Client Account, the company
                ‘Morfin Fx’ will refund all amounts deposited originally to the same.</li>
            <li>If the Client made a profit on his investment, the Company may accept processing such profit through
                wire.</li>
            <li>In the case of credit cards, if the issuer of the credit card sets time limits for accepting refunds and
                the timeframe already expired, the Company may process the refund through wire transfer, but all
                supportive documents provided to the Company must be satisfactory.</li>
        </ul>

        <h3>4 . Withdrawal Fees
        </h3>
        <ul>
            <li>Morfin FX may charge withdrawal fees, which will be communicated during the withdrawal request process.
                Fees may vary based on the withdrawal method chosen and the amount i.e. to be withdrawn.</li>
            <li>Clients are responsible for any fees incurred during the withdrawal process by their payment service
                provider or bank.</li>
        </ul>

        <h3>5 . Currency of Withdrawal
        </h3>
        <p>Withdrawals are processed in the currency of the client's trading account. If the client wishes to withdraw
            funds in a different currency, conversion fees may apply.</p>

        <h3>6 . Mode of withdrawal
        </h3>
        <p>At Morfin FX, our withdrawal process is designed to ensure security and compliance. This means that when you
            withdraw funds from your account, you can only use the same method that was initially used to deposit funds
            into your account.
        </p>
        <p>
            In addition In the event of a compelling situation such as a change in citizenship or the closure of the
            original payment bank, Morfin FX will thoroughly verify the circumstances. If the situation is verified and
            deemed satisfactory, we will provide alternative withdrawal options. However, please note that charges may
            be applicable in such scenarios to cover any additional administrative or processing costs incurred.
        </p>

        <h3>
            <h3> 7 . Third-Party Withdrawals</h3>
            <p>Withdrawals can only be made to accounts held in the name of the Morfin FX account holder. Third-party
                withdrawals are not permitted.</p>

            <h3> 8 . Cancellation of Withdrawal</h3>
            <p>If you wish to cancel a withdrawal request, you should contact our customer support team immediately.
                Cancellation is subject to approval, and fees may apply.</p>

            <h3> 9 . Limits</h3>
            <p>Morfin FX may impose minimum and maximum withdrawal limits. These limits can vary based on account type,
                regulatory requirements, and other factors. Information on withdrawal limits is available on our website
                or
                provided upon request.</p>

            <h2 class="content_title">Refund Policy</h2>

            <h3> 1 . Refund Eligibility</h3>
            <p>Refunds may be considered under the following circumstances:</p>
            <ul>
                <li>A. Unauthorized Transactions: If your account experiences unauthorized transactions, Morfin FX will
                    conduct a thorough investigation to determine liability and, if necessary, initiate a refund.</li>
                <li>B .Technical Errors: In the event of technical errors or system malfunctions on our platform that
                    result
                    in losses, Morfin FX will assess the situation and may issue refunds.
                    Refunds are not guaranteed and are subject to our internal assessment and legal obligations.</li>
            </ul>

            <h3> 2 . Request Process</h3>
            <p>Refunds may be considered under the following circumstances:</p>
            <ul>
                <li>Refund requests should be submitted in writing to our customer support team, providing a detailed
                    explanation of the circumstances leading to the request.</li>
                <li>Supporting documentation may be required to substantiate the refund claim.</li>
            </ul>

            <h3> 3 . Refund Processing</h3>
            <ul>
                <li>Refund requests will be reviewed by Morfin FX, and a decision will be communicated within a
                    reasonable
                    timeframe.</li>
                <li>If a refund is approved, it will be processed using the same payment method used for the initial
                    deposit, unless otherwise agreed upon.</li>
            </ul>

            <h3> 4 . Refund Limits</h3>
            <p>Morfin FX may impose maximum refund limits based on account type and the specific circumstances
                surrounding
                the refund request.</p>
            <h2 class="content_title">Changes to this Policy</h2>
            <p>Morfin FX reserves the right to update and modify this Withdrawal and Refund Policy. Updates will be
                communicated to clients through our website and other relevant channels. It is the responsibility of
                clients
                to review the policy periodically for any changes.</p>

            <h2 class="content_title">Disclaimer & Contact Information</h2>
            <p>Morfin FX is committed to offering a secure trading environment. However, clients must understand that
                trading carries inherent risks, and they may incur losses. It is their responsibility to make sound
                trading
                decisions, manage margin levels effectively, and employ risk management tools to reduce the likelihood
                of
                margin calls</p>
            <p>Clients acknowledge that Morfin FX is not liable for any losses incurred due to trading decisions made
                independently by clients or traders. Clients are aware that they may lose more than their initial
                investment, and it is their responsibility to trade prudently.</p>
            <p>For any questions or concerns regarding this policy, please contact our customer support team at  <a
                    href="mailto:support@morfinfx.com">support@morfinfx.com</a> or <a href="tel:+97143386699">+971 4 338
                    6699</a></p>
    </div>
</section>
<!-- policy area end-->
{% endblock content %}
